<div class="information-container">
  <h3>How to use the application:</h3>
  <p class="">Forward, to a Safe Journey! 🚗💨</p>

  <div class="information-tip">
    <p>Connect and Go:</p>
    <p>📲 Simply connect your phone to the dashcam. Show the road what you really mean, better than just looking!</p>
  </div>
  <div class="information-tip">
    <p>No Unpleasant Surprises:</p>
    <p>🕵️ Forget about potholes and unexpected traffic lights. We make the road safe, even without hurdles!
    </p>
  </div>
  <div class="information-tip">
    <p>Simple and Effective:</p>
    <p>🔧 No complex installations. Just hit "Start" and enjoy your journey. Your phone, your road, your safety!</p>
  </div>
  <div class="information-tip">
    <p>Danger Notifications:</p>
    <p>🚨 Set up notifications for potholes and traffic lights. Our app warns you in advance, so you're always ahead.</p>
  </div>
  <div class="information-tip">
    <p>Be the Roadmaster:</p>
    <p>🌟 Make your trip not only safe but also fun. We're here to take your road adventures to the next level!</p>
  </div>
  <p>An app that makes driving easier and more enjoyable. Start now and enjoy full control on the road! 🛣✨</p>

</div>
