<p class="gw-text">General</p>
<mat-divider></mat-divider>
<button mat-button class="settings-button" routerLink="detection">
    <span class="gw-text settings-button-body">
      <span class="icon-circle">
        <mat-icon>camera_alt</mat-icon>
      </span>
      Camera Detection Settings
      <span class="chevron-icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </span>
</button>
<mat-divider></mat-divider>
<button mat-button class="settings-button" routerLink="sound">
    <span class="gw-text settings-button-body">
      <span class="icon-circle">
        <mat-icon>volume_up</mat-icon>
      </span>
      Application sound settings
      <span class="chevron-icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </span>
</button>
<mat-divider></mat-divider>
<button mat-button class="settings-button">
    <span class="gw-text settings-button-body">
      <span class="icon-circle">
        <mat-icon>credit_card</mat-icon>
      </span>
      Payment methods
      <span class="chevron-icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </span>
</button>
<mat-divider></mat-divider>
<button mat-button class="settings-button">
    <span class="gw-text settings-button-body">
      <span class="icon-circle">
        	<mat-icon>headset_mic</mat-icon>
      </span>
      Help center
      <span class="chevron-icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </span>
</button>
<mat-divider></mat-divider>
