<div class="profile-container">
  <p class="gw-text">Profile</p>
  <div class="profile-info">
    <div class="profile-image">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="profile-text-info">
      <span class="name">Vasyl Yovbak</span>
      <span class="gw-light-text info">20 y.o., Male, Lviv, Ukraine</span>
    </div>
    <div class="edit-container">
      <button mat-icon-button disabled>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="settings-container">
  <div [@routeAnimations]="getRouteAnimationData()" class="main-content">
    <router-outlet></router-outlet>
  </div></div>
<div class="footer-information">
  <div class="left-info">
    <pre class="text">
Please consider scanning the QR code
to donate and support the Ukrainian
Army.
Your contribution goes a long way in
ensuring our vital mission's success.

Thank you for your generosity.

Glory to Ukraine!
    </pre>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify"
         viewBox="0 0 30 30.000001" height="40" preserveAspectRatio="xMidYMid meet" version="1.0">
      <defs>
        <clipPath id="id1">
          <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 "
                clip-rule="nonzero"/>
        </clipPath>
        <clipPath id="id2">
          <path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 "
                clip-rule="nonzero"/>
        </clipPath>
      </defs>
      <g clip-path="url(#id1)">
        <path fill="rgb(0%, 35.688782%, 73.329163%)"
              d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 "
              fill-opacity="1" fill-rule="nonzero"/>
      </g>
      <g clip-path="url(#id2)">
        <path fill="rgb(100%, 83.529663%, 0%)"
              d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 "
              fill-opacity="1" fill-rule="nonzero"/>
      </g>
    </svg>
  </div>
  <div class="right-info">
    <img src="assets/images/mono.png" alt="mono qr">
    <img src="assets/images/mono-text.png" alt="mono">
  </div>
</div>
