.gw-text{
  font-family: Roboto, 'sans-serif';
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.gw-header-text{

}

.gw-button-text {
  font-family: Roboto, 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;
}
