$gw-blue-background: rgba(147, 197, 253, 1);
$gw-dark-blue-text: rgba(29, 78, 216, 1);
$gw-light-blue-text: rgba(37, 99, 235, 1);
$gw-white-text: rgb(255, 255, 255);
$gw-dark-green: #023020;
$gw-light-green: #2DFE54
