$gw-blue-background: rgba(147, 197, 253, 1);
$gw-dark-blue: #16739F;
$gw-light-blue: #58A5C9;
$gw-white-text: rgb(255, 255, 255);
$gw-gray-background: #f3f3f3;
$gw-disabled-text: #D4E8F1;
$gw-dark-green: #023020;
$gw-light-green: #2DFE54;
$gw-orange: orange;
