.back-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.settings-element {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.main-text {
  font-size: 15px;
  font-weight: 400;
}
