/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "styles/index";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Pacifico&display=swap');
